<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rubric</h5>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="10%">Category</th>
                <th width="22.5%">0 points</th>
                <th width="22.5%">1 point</th>
                <th width="22.5%">2 points</th>
                <th width="22.5%">3 points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Function</th>
                <td>
                    <input type="radio" name="function" id="function-0" value="0"
                           {% if grade.function == 0 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="function-0">
                        <ul class="list-group">
                            <li class="list-group-item">The submitted program does not compile.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="function" id="function-1" value="1"
                           {% if grade.function == 1 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="function-1">
                        <ul class="list-group">
                            <li class="list-group-item">The submitted program compiles but there are major problems which make it impossible to play the game.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="function" id="function-2" value="2"
                           {% if grade.function == 2 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="function-2">
                        <ul class="list-group">
                            <li class="list-group-item">The submitted program compiles successfully.</li>
                            <li class="list-group-item">The submitted program runs with a few logic errors.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="function" id="function-3" value="3"
                           {% if grade.function == 3 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="function-3">
                        <ul class="list-group">
                            <li class="list-group-item">The submitted program compiles successfully.</li>
                            <li class="list-group-item">Your code runs without any run-time or logic errors.</li>
                        </ul>
                    </label>
                </td>
            </tr>
            {% if not no_comments %}
                <tr>
                    <th>Function Comments</th>
                    <td colspan="4">
                            <textarea class="form-control" name="function_comments"
                                      rows="3" {% if disabled %}disabled{% endif %}>{{ grade.function_comments }}</textarea>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Creativity</th>
                <td>
                    <input type="radio" name="creativity" id="creativity-0" value="0"
                           {% if grade.creativity == 0 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="creativity-0">
                        <ul class="list-group">
                            <li class="list-group-item">The project contains no changes from original starter code.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="creativity" id="creativity-1" value="1"
                           {% if grade.creativity == 1 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="creativity-1">
                        <ul class="list-group">
                            <li class="list-group-item">Project shows very few changes from starter code.</li>
                            <li class="list-group-item">Idea is not fully developed.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="creativity" id="creativity-2" value="2"
                           {% if grade.creativity == 2 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="creativity-2">
                        <ul class="list-group">
                            <li class="list-group-item">Project has some unique aspects but does not venture far beyond the starter code.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="creativity" id="creativity-3" value="3"
                           {% if grade.creativity == 3 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="creativity-3">
                        <ul class="list-group">
                            <li class="list-group-item">Project is unique and demonstrates interesting concepts that go beyond the scope of the starter code.</li>
                        </ul>
                    </label>
                </td>
            </tr>
            {% if not no_comments %}
                <tr>
                    <th>Creativity Comments</th>
                    <td colspan="4">
                            <textarea class="form-control" name="creativity_comments"
                                      rows="3"
                                      {% if disabled %}disabled{% endif %}>{{ grade.creativity_comments }}</textarea>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Readability</th>
                <td>
                    <input type="radio" name="readability" id="readability-0" value="0"
                           {% if grade.readability == 0 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="readability-0">
                        <ul class="list-group">
                            <li class="list-group-item">Code contains no documentation (comments).</li>
                            <li class="list-group-item">The code is impossible to comprehend.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="readability" id="readability-1" value="1"
                           {% if grade.readability == 1 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="readability-1">
                        <ul class="list-group">
                            <li class="list-group-item">Variable names are ambiguous (eg. “x” or “i”).</li>
                            <li class="list-group-item">Code is inconsistently formatted and difficult to read.</li>
                            <li class="list-group-item">Code contains either a lack or excess of comments.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="readability" id="readability-2" value="2"
                           {% if grade.readability == 2 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="readability-2">
                        <ul class="list-group">
                            <li class="list-group-item">Variable names are appropriate.</li>
                            <li class="list-group-item">Code formatting may be inconsistent or somewhat difficult to read.</li>
                            <li class="list-group-item">For the most part, code is well documented with comments.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="readability" id="readability-3" value="3"
                           {% if grade.readability == 3 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="readability-3">
                        <ul class="list-group">
                            <li class="list-group-item">Code is properly formatted with indentation, spacing, etc.</li>
                            <li class="list-group-item">Code contains easily understandable comments when appropriate.</li>
                            <li class="list-group-item">All variables are self documented with appropriate names.</li>
                        </ul>
                    </label>
                </td>
            </tr>
            {% if not no_comments %}
                <tr>
                    <th>Readability Comments</th>
                    <td colspan="4">
                            <textarea class="form-control" name="readability_comments"
                                      rows="3"
                                      {% if disabled %}disabled{% endif %}>{{ grade.readability_comments }}</textarea>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Implementation</th>
                <td>
                    <input type="radio" name="implementation" id="implementation-0" value="0"
                           {% if grade.implementation == 0 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="implementation-0">
                        <ul class="list-group">
                            <li class="list-group-item">Code is written inefficiently.</li>
                            <li class="list-group-item">Code is not organized or structured.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="implementation" id="implementation-1" value="1"
                           {% if grade.implementation == 1 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="implementation-1">
                        <ul class="list-group">
                            <li class="list-group-item">Code shows little thought about organization.</li>
                            <li class="list-group-item">Structures and data types are poorly chosen.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="implementation" id="implementation-2" value="2"
                           {% if grade.implementation == 2 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="implementation-2">
                        <ul class="list-group">
                            <li class="list-group-item">Code shows some thought about organization.</li>
                            <li class="list-group-item">Appropriate structures are often used but not consistently throughout the program.</li>
                        </ul>
                    </label>
                </td>
                <td>
                    <input type="radio" name="implementation" id="implementation-3" value="3"
                           {% if grade.implementation == 3 %}checked{% endif %} {% if disabled %}disabled{% endif %}>
                    <label for="implementation-3">
                        <ul class="list-group">
                            <li class="list-group-item">The program effectively chooses and implements concepts that would best model and solve the problem.</li>
                            <li class="list-group-item">Appropriate data types and data structures are chosen for all variables.</li>
                            <li class="list-group-item">Code uses the most appropriate structures (i.e. inheritance, interfaces, recursion, etc.)</li>
                        </ul>
                    </label>
                </td>
            </tr>
            {% if not no_comments %}
                <tr>
                    <th>Implementation Comments</th>
                    <td colspan="4">
                            <textarea class="form-control" name="implementation_comments"
                                      rows="3"
                                      {% if disabled %}disabled{% endif %}>{{ grade.implementation_comments }}</textarea>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% if not no_comments %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">General Comments</h5>
            <textarea class="form-control" name="general_comments" rows="5"
                      {% if disabled %}disabled{% endif %}>{{ grade.general_comments }}</textarea>
        </div>
    </div>
{% endif %}