{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" />

    <style>
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
            <li>
                <a class="navbar-brand" href="#">girls.hack(LM)</a>
            </li>
        </ul>
      </div>
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    {% block script %}
    {% endblock %}
  </body>
</html>
