{% extends 'base.html' %}

{% block head %}
    <title>Grader - girls.hack(LM)</title>

    <style>
        .submissions {
            width: 75vw;
        }
    </style>
{% endblock %}

{% block body %}
    {% if graded %}
        <div class="alert alert-primary" role="alert">
            Your grade has been submitted!
        </div>
    {% endif %}
    <div class="submissions row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
        {% for submission in submissions %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ submission.team.name }}
                            <span class="badge rounded-pill bg-primary align-bottom float-end">{{ submission.grade_set.count }} grade{{ submission.grade_set.count | pluralize }}</span>
                        </h5>
                        <a href="{% url 'grade' submission.id %}" class="btn btn-primary">Grade</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
