{% extends 'base.html' %}
{% load hackathon_extras %}

{% block head %}
    <title>Grader - girls.hack(LM)</title>

    <style>
        td {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block body %}
    {% if graded %}
        <div class="alert alert-primary" role="alert">
            Your grade has been submitted!
        </div>
    {% endif %}
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="60%">Team</th>
                <th width="15%">Grades</th>
                <th width="25%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>{{ submission.team }}</td>
                    <td>
                        <span class="badge rounded-pill bg-primary align-bottom">{{ submission.grade_set.count }} grade{{ submission.grade_set.count | pluralize }}</span>
                    </td>
                    <td>
                        <a href="{% url 'grade' submission.id %}" class="btn btn-primary">{% if submission|graded_by:me %}Edit {% endif %}Grade</a>
                        <a href="{{ submission.file.url }}" class="btn btn-primary">Download .zip</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
