{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'codemirror.css' %}">
    <title>Grade {{ submission.team.name }} - girls.hack(LM)</title>
    <style>
        body {
            height: unset;
        }

        .container {
            display: flex;
            flex-direction: column;
            margin: 1em auto;
        }

        .container > * {
            flex: 1;
        }

        select {
            margin-bottom: 0.5em;
        }

        .card:not(:last-child) {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {{ errors | safe }}
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Code</h5>
                <select class="form-select" aria-label="Select file">
                    {% for file_name, contents in files.items %}
                        <option value="file{{ forloop.counter }}" id="file{{ forloop.counter }}"
                                data-contents="{{ contents }}">{{ file_name }}</option>
                    {% endfor %}
                </select>
                <textarea id="codeMirror"></textarea>
            </div>
        </div>
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rubric</h5>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="10%">Category</th>
                            <th width="30%">0 points</th>
                            <th width="30%">1 point</th>
                            <th width="30%">2 points</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Function</th>
                            <td>
                                <input type="radio" name="function" id="function-0" value="0">
                                <label for="function-0">
                                    <ul class="list-group">
                                      <li class="list-group-item">A program solution is submitted but fails to compile.</li>
                                      <li class="list-group-item">-- or --</li>
                                      <li class="list-group-item">The submitted program compiles successfully but does not implement your project as designed</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="function" id="function-1" value="1">
                                <label for="function-1">
                                    <ul class="list-group">
                                      <li class="list-group-item">The submitted program compiles successfully.</li>
                                      <li class="list-group-item">The submitted program includes run-time
                                    and/or logic errors</li>
                                      <li class="list-group-item">Implementation is incomplete.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="function" id="function-2" value="2">
                                <label for="function-2">
                                    <ul class="list-group">
                                      <li class="list-group-item">The submitted program compiles successfully.</li>
                                      <li class="list-group-item">The submitted program is free of run-time and logic errors.</li>
                                      <li class="list-group-item">Your code fully implements the your project as designed.</li>
                                    </ul>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Code Readability</th>
                            <td>
                                <input type="radio" name="readability" id="readability-0" value="0">
                                <label for="readability-0">
                                    <ul class="list-group">
                                      <li class="list-group-item">Code contains no documentation.</li>
                                      <li class="list-group-item">Code is unformatted and is difficult to read.</li>
                                      <li class="list-group-item">Variables are ambiguous (i.e. x) and do not indicate the purpose of the variable.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="readability" id="readability-1" value="1">
                                <label for="readability-1">
                                    <ul class="list-group">
                                      <li class="list-group-item">The submitted project is inconsistently documented.</li>
                                      <li class="list-group-item">Code is inconsistently formatted and can be difficult to read.</li>
                                      <li class="list-group-item">Numerous variables are ambiguous (i.e. x) and do not indicate the purpose of the variable.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="readability" id="readability-2" value="2">
                                <label for="readability-2">
                                    <ul class="list-group">
                                      <li class="list-group-item">The submitted project is well documented.</li>
                                      <li class="list-group-item">Code is properly formatted (i.e. indentation within brackets and appropriate spacing) and is easy to read.</li>
                                      <li class="list-group-item">All variables are self-documented (i.e. named in a way that the name indicated the purpose of the variable).</li>
                                    </ul>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Implementation</th>
                            <td>
                                <input type="radio" name="implementation" id="implementation-0" value="0">
                                <label for="implementation-0=">
                                    <ul class="list-group">
                                      <li class="list-group-item">Code shows little to no thought about design.</li>
                                      <li class="list-group-item">Structures and data types are poorly chosen.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="implementation" id="implementation-1" value="1">
                                <label for="implementation-1">
                                    <ul class="list-group">
                                      <li class="list-group-item">Code shows some thought about design.</li>
                                      <li class="list-group-item">Appropriate structures are often used but not consistently throughout the program.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="implementation" id="implementation-2" value="2">
                                <label for="implementation-2">
                                    <ul class="list-group">
                                      <li class="list-group-item">The program effectively chooses and implements concepts that would best model and solve the problem.</li>
                                      <li class="list-group-item">Appropriate data types and data structures are chosen for all variables.</li>
                                      <li class="list-group-item">Code uses the most appropriate structures (i.e. inheritance, interfaces, recursion, etc.)</li>
                                    </ul>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Creativity</th>
                            <td>
                                <input type="radio" name="creativity" id="creativity-0" value="0">
                                <label for="creativity-0">
                                    <ul class="list-group">
                                      <li class="list-group-item">Your game implements very few creative elements outside of what was included with the starter code.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="creativity" id="creativity-1" value="1">
                                <label for="creativity-1">
                                    <ul class="list-group">
                                      <li class="list-group-item">Your game begins to implement elements of creative game play outside of what was included with the starter code.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="creativity" id="creativity-2" value="2">
                                <label for="creativity-2">
                                    <ul class="list-group">
                                      <li class="list-group-item">The game makes creative use of story or game play.</li>
                                      <li class="list-group-item">Your game implements several elements of creative game play outside of what was included with the starter code.</li>
                                    </ul>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Fun or Educational</th>
                            <td>
                                <input type="radio" name="educational" id="educational-0" value="0">
                                <label for="educational-0">
                                    <ul class="list-group">
                                      <li class="list-group-item">The game is neither fun to play nor demonstrates an educational purpose.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="educational" id="educational-1" value="1">
                                <label for="educational-1">
                                    <ul class="list-group">
                                      <li class="list-group-item">The game is somewhat fun to play or begins to demonstrate an educational purpose.</li>
                                    </ul>
                                </label>
                            </td>
                            <td>
                                <input type="radio" name="educational" id="educational-2" value="2">
                                <label for="educational-2">
                                    <ul class="list-group">
                                      <li class="list-group-item">The game is fun to play or communicates an educational purpose.</li>
                                    </ul>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <textarea class="form-control" name="comments"></textarea>
                </div>
            </div>
            <input type="hidden" name="submission" value="{{ submission.id }}">
            <input type="hidden" name="grader" value="{{ me.id }}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'codemirror.js' %}"></script>
    <script src="{% static 'clike.js' %}"></script>
    <script src="{% static 'python.js' %}"></script>
    <script>
        $(document).ready(function() {
            const codeMirror = CodeMirror.fromTextArea(
                document.getElementById('codeMirror'),
                {lineNumbers: true, readOnly: true}
            );

            $('select').change(function() {
                const selectedIndex = $('select').val();
                const selectedOption = $('#' + selectedIndex);
                const fileName = selectedOption.text();

                codeMirror.setValue(selectedOption.attr('data-contents'));
                codeMirror.setOption('mode', fileName.endsWith('.py') ? 'text/x-python' :
                    fileName.endsWith('.java') ? 'text/x-java' :
                        'text/plain');
            }).change();
        });
    </script>
{% endblock %}
