{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'codemirror.css' %}">
    <title>Grade {{ submission.team.name }} - girls.hack(LM)</title>
    <style>
        .split {
            width: 75vw;
            display: flex;
        }

        .split > * {
            flex: 1;
        }

        .split > :not(:last-child) {
            margin-right: 1em;
        }

        select {
            margin-bottom: 0.5em;
        }

        .card:not(:last-child) {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {{ errors | safe }}
        </div>
    {% endif %}
    <div class="split">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Code</h5>
                <select class="form-select" aria-label="Select file">
                    {% for file_name, contents in files.items %}
                        <option value="file{{ forloop.counter }}" id="file{{ forloop.counter }}" data-contents="{{ contents }}">{{ file_name }}</option>
                    {% endfor %}
                </select>
                <textarea id="codeMirror"></textarea>
            </div>
        </div>
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rubric</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>0 points</th>
                                <th>1 point</th>
                                <th>2 points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Function</th>
                                <td>
                                    <input type="radio" name="function" id="function-0" value="0">
                                    <label for="function-0">xyz</label>
                                </td>
                                <td>
                                    <input type="radio" name="function" id="function-1" value="1">
                                    <label for="function-1">abc</label>
                                </td>
                                <td>
                                    <input type="radio" name="function" id="function-2" value="2">
                                    <label for="function-2">def</label>
                                </td>
                            </tr>
                            <tr>
                                <th>Code Readability</th>
                                <td>
                                    <input type="radio" name="readability" id="readability-0" value="0">
                                    <label for="readability-0">xyz</label>
                                </td>
                                <td>
                                    <input type="radio" name="readability" id="readability-1" value="1">
                                    <label for="readability-1">abc</label>
                                </td>
                                <td>
                                    <input type="radio" name="readability" id="readability-2" value="2">
                                    <label for="readability-2">def</label>
                                </td>
                            </tr>
                            <tr>
                                <th>Design</th>
                                <td>
                                    <input type="radio" name="design" id="design-0" value="0">
                                    <label for="design-0">xyz</label>
                                </td>
                                <td>
                                    <input type="radio" name="design" id="design-1" value="1">
                                    <label for="design-1">abc</label>
                                </td>
                                <td>
                                    <input type="radio" name="design" id="design-2" value="2">
                                    <label for="design-2">def</label>
                                </td>
                            </tr>
                            <tr>
                                <th>Algorithm</th>
                                <td>
                                    <input type="radio" name="algorithm" id="algorithm-0" value="0">
                                    <label for="algorithm-0">xyz</label>
                                </td>
                                <td>
                                    <input type="radio" name="algorithm" id="algorithm-1" value="1">
                                    <label for="algorithm-1">abc</label>
                                </td>
                                <td>
                                    <input type="radio" name="algorithm" id="algorithm-2" value="2">
                                    <label for="algorithm-2">def</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <textarea class="form-control" name="comments"></textarea>
                </div>
            </div>
            <input type="hidden" name="submission" value="{{ submission.id }}">
            <input type="hidden" name="grader" value="{{ me.id }}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'codemirror.js' %}"></script>
    <script src="{% static 'clike.js' %}"></script>
    <script src="{% static 'python.js' %}"></script>
    <script>
        $(document).ready(function() {
            const codeMirror = CodeMirror.fromTextArea(
                document.getElementById('codeMirror'),
                {lineNumbers: true, readOnly: true}
            );

            $('select').change(function() {
                const selectedIndex = $('select').val();
                const selectedOption = $('#' + selectedIndex);
                const fileName = selectedOption.text();

                codeMirror.setValue(selectedOption.attr('data-contents'));
                codeMirror.setOption('mode', fileName.endsWith('.py') ? 'text/x-python' :
                    fileName.endsWith('.java') ? 'text/x-java' :
                        'text/plain');
            }).change();
        });
    </script>
{% endblock %}
