{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Grade {{ submission.team.name }} - girls.hack(LM)</title>
{% endblock %}

{% block body %}
    <div class="container">
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {{ errors | safe }}
            </div>
        {% endif %}
        {% include 'common/code.html' with submission=submission %}
        <form method="post">
            {% include 'common/grade.html' with grade=grade %}
            <input type="hidden" name="submission" value="{{ submission.id }}">
            <input type="hidden" name="grader" value="{{ me.id }}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}
