{% extends 'base.html' %}

{% block body %}
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if page == 'problem' %} active{% endif %}" href="{% url 'competitor' %}">Problem</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if page == 'rubric' %} active{% endif %}" href="{% url 'rubric' %}">Rubric</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if page == 'bonus_image' %} active{% endif %}" href="{% url 'bonus-image' %}">Bonus Image</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if page == 'schedule' %} active{% endif %}" href="{% url 'schedule' %}">Schedule</a>
        </li>
    </ul>
    <br>
    {% block competitor_body %}
    {% endblock %}
{% endblock %}
