{% extends 'competitor/competitor.html' %}
{% load static %}

{% block head %}
    <title>Schedule - girls.hack(LM)</title>
    <style>
        th, td {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block competitor_body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Zoom link</h5>
                <a href="https://sig.zoom.us/j/9687277967?pwd=RVdDOFRqZnRoNFdFNjVpL0RXSXV4UT09">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Friday, March 12<sup>th</sup></h5>
                <table class="table table-hover">
                    <tr>
                        <th width="30%">9:00 am - 9:30 am</th>
                        <td width="70%">
                            <ul class="list-group">
                                <li class="list-group-item">Opening ceremonies</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>9:30 am - 10:30 am</th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Intro to Event with introduction to the problem and a walk through of the schedule</li>
                                <li class="list-group-item">Open floor to Questions</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            10:30 am<br>
                            Starter code lessons
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Java starter code with Anne</li>
                                <li class="list-group-item">Python starter code with Ella</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            11:15 am<br>
                            Graphics and 2D Arrays lessons
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Java graphics with Teresa</li>
                                <li class="list-group-item">Python graphics with Anne and Ella</li>
                                <li class="list-group-item">2D Arrays with Talia, Macy, and Angela</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            12:00 pm<br>
                            Graphics lessons
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Java graphics with Teresa</li>
                                <li class="list-group-item">Python graphics with Anne and Ella</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            12:30 pm<br>
                            Artificial Intelligence lesson
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Writing an AI with Maggie and Erica</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            1:00 pm - 2:00 pm<br>
                            Networking with SIG Developers
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">An hour of a fun game from the SIG community</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            2:45 pm<br>
                            Artificial Intelligence lesson
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Writing an AI with Maggie and Erica</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            4:30 pm<br>
                            Wrap-up
                        </th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">LM students available to help with submissions</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>5:00 pm</th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Projects are due</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Monday, March 15<sup>th</sup></h5>
                <table class="table table-hover">
                    <tr>
                        <th width="30%">4:00 pm - 5:00 pm</th>
                        <td width="70%">
                            <ul class="list-group">
                                <li class="list-group-item">Review of Results & Prizes are awarded</li>
                                <li class="list-group-item">Competition closing remarks</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
